/* .btn {
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  color: white;
  background: rgba(50, 50, 200, 1);
}

.btn:hover {
  color: white;
  background: rgba(50, 50, 200, 0.5);
} */

i {
  cursor: pointer;
  transition: 0.4s all;
}

i:hover {
  transform: scale(1.2);
}

.my_container {
  width: 50%;
}

@media (max-width: 800px) {
  .my_container {
    width: 80%;
  }
}

.error {
  /* animation: error 0.5s 1; */
  animation: error 0.2s 0.3s 2 linear;
}

@keyframes error {
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
